aws {
    client {
        maxConnections = 20
        connectionTimeout = 1000000
    }
}

params {
    input            = "data/*_R{1,2}*.fastq.gz"
    outdir           = "results"
    genome           = 'hg38'
    igenomes_base    = 's3://ngi-igenomes/igenomes/'
    bowtie2_index    = null 
    publish_dir_mode = 'copy'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']
includeConfig 'conf/igenomes.config'

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.registry   = 'quay.io'
    }
}

executor {
    // Aumentato leggermente a 4 per permettere a più processi piccoli di girare insieme
    queueSize = 4 
}

process {
    cpus   = 1
    memory = '2 GB'

    withName: FASTQC {
        cpus   = 2
        memory = '4 GB'
        publishDir = [ path: "${params.outdir}/01_fastqc", mode: params.publish_dir_mode ]
    }

    withName: TRIMGALORE {
        cpus   = 4
        memory = '8 GB'
        publishDir = [ path: "${params.outdir}/02_trimmed", mode: params.publish_dir_mode ]
    }

    withName: BOWTIE2 {
        cpus   = 12
        memory = '32 GB'
        // args: parametri bowtie2 | args2: parametri samtools sort (-m RAM per thread)
        ext.args   = '--very-sensitive -X 2000 --no-mixed --no-discordant'
        ext.args2  = '-m 2G' 
        publishDir = [ path: "${params.outdir}/03_aligned", mode: params.publish_dir_mode ]
    }

    withName: PICARD_MARKDUPLICATES {
        cpus   = 2
        memory = '24 GB'
        // REMOVE_DUPLICATES=true elimina i duplicati (standard ATAC)
        // CREATE_INDEX=true crea il .bai insieme al .bam
        ext.args   = 'REMOVE_DUPLICATES=true ASSUME_SORTED=true VALIDATION_STRINGENCY=LENIENT CREATE_INDEX=true'
        publishDir = [ path: "${params.outdir}/04_deduplicated", mode: params.publish_dir_mode ]
    }

    withName: MACS3_ATAC {
        cpus   = 4
        memory = '16 GB' // Aumentata memoria per peak calling su genomi grandi
        publishDir = [ path: "${params.outdir}/05_peaks", mode: params.publish_dir_mode ]
    }
}
