params {
    // Definizione dei percorsi per AWS iGenomes
    genomes {
        'GRCh38' {
            bowtie2 = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/Bowtie2Index/"
            fasta   = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
        }
    }
}
