params {
    // Definizione dei percorsi per AWS iGenomes
    // Usiamo params.igenomes_base così se qualcuno ha i dati in locale 
    // può cambiare la velocità da "internet" a "disco" in un secondo.
    genomes {
        'GRCh38' {
            bowtie2 = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/Bowtie2Index/"
            fasta   = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            // Aggiungiamo hg38 (UCSC) che è il più usato per ATAC/CHIP
            macs_gsize = "2.7e9" 
        }
        'hg38' {
            bowtie2 = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/"
            fasta   = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
            macs_gsize = "2.7e9"
        }
    }
}
